@import url(header.css);
@import url(style.css);

.imagem-borrada{

    width: 100vw;
    max-width: 100%; /*não ultrapassar o body*/
    height: 90vh;

    object-fit: cover;
}


.quem-somos{
    padding: 7% 8vw;
    display: flex;
}

.section-quem-somos{
    padding: 5% 0% 5% 5%;
    height:100%; /*??*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-quem-somos{
    height: fit-content;
    width: 50%;
    border-radius: 10px;
}

.titulo{
 padding-bottom: 5%
}

.subtitulo{
    padding-bottom: 5%;
}

.paragrafo{
    text-align: justify;
}


.equipe{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-background-claro-2);
    justify-content: center;
}

.equipe h1{
    width: 100%;
    text-align: center;
    padding: 5%;
}

.img-membros{
    height: fit-content;
    width: 15vw;
}

.membros-equipe-individual{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.materiais{
    background-color: var(--color-background-claro-2);
}


@media (width < 950px){
    .quem-somos{
        align-items: center;
        padding: 7% 5vw;
    }

}

@media (width < 765px){
    .quem-somos{
        flex-direction:column-reverse;
    }

    .imagem-quem-somos{
        width: 80vw;
        
    }
    .img-membros{
        width: 19vw;
}
}

@media (width < 448px){
    .img-membros{
        width: 30vw;
    }
}