*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-background-claro);
    display: grid;
    font-style: "JetBrains Mono";
    font-size: 1.25rem;
}


.titulo{
    text-align: center;
}


:root{
    --color-background-claro: white;
    --height-header: 65px;
    --color-principal: #36454F;
    --color-header-hover: #eeeeee;
    --color-sombra: #9ba8b1;
}